<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableViewController Chanllenge Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>535A588B1F54EDB400D30E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535A58A41F54EDB500D30E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535A58AF1F54EDB500D30E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
